<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>

<h1>Cookie Values:<h1>
{{range .}}
<h2>{{.}}</h2>
{{end}}

<h1>Your pictures:<h1>
{{range .}}
<img srs="/public/pics/{{.}}" width="800px">
{{end}}

<form method="POST" enctype="multipart/form-data">
    <input type="file" name="nf">
    <input type="Submit">
</form>

</body>
</html>