<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>
<h1>Thor's profile: </h1><br>
<h2>Name: {{.Name}}</h2>
<h2>Age: {{.Age}}</h2>

<h2>Fighting skills: </h2>
{{range .Powers}}
<li>{{.}}</li>
{{end}}
</body>
</html>